# Default ignored files
/../../../../:WebstormProjects/MD4-Test/.idea/shelf/
/../../../../:WebstormProjects/MD4-Test/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../../../:WebstormProjects/MD4-Test/.idea/httpRequests/
# Datasource local storage ignored files
/../../../../:WebstormProjects/MD4-Test/.idea/dataSources/
/../../../../:WebstormProjects/MD4-Test/.idea/dataSources.local.xml
